.recipeContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recipe {
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: wheat;
  align-items: center;
  min-width: 40%;
}

.recipeImg {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid black;
}
.notFound {
  font-weight: 600;
  font-size: 200%;
  background-color: red;
  color: white;
  padding: 10px;
}

@media only screen and (max-width: 310px) {
  .recipeImg {
    width: 50%;
    height: 20vh;
  }
}
